
    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("download.png");
    
}

.main{
    background: #ccc;
    width: 400px;
    margin: 100px auto;
    height: 175px;
    position: relative;
    padding: 20px;
}

.badge{
    background: #ff0707;
    text-align: center;
    width: 200px;
    margin: 0 auto;
    color: white;
    padding: 10px 10px; 
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top: -15px;
    left: 100px; 
}
.clock{
    background: #ebebeb;
    text-align: center;
    font-size: 50px;
    height: 100%;
    padding-top: 30px;
    font-family: Orbitron;
    border-radius: 4px; 
    
}
.quote{
    text-align: center;
    font-size: 25px; 
    font-family: sans-serif;
    font-weight: bold;
    padding: 30px; 
    
}





















